In [1]:
import pandas as pd
from pathlib import Path

In [5]:
csvpath = Path("C:/Users/zhaoy/Documents/Northwestern_FinTech_Bootcamp/Module_2_Python/python-homework/PyBank/budget_data.csv")

In [10]:
budget_dataframe = pd.read_csv(csvpath)
budget_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [18]:
budget_dataframe['Date'].count()

86

In [19]:
budget_dataframe['Profit/Losses'].sum()

38382578

In [29]:
budget_dataframe.iloc[0,1]

867884

In [33]:
budget_dataframe['Profit/Losses'].diff()

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [35]:
budget_dataframe["Changes"]=budget_dataframe['Profit/Losses'].diff()
budget_dataframe.head()

       Date  Profit/Losses   Changes
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [42]:
budget_dataframe['Changes'].mean()

-2315.1176470588234

In [44]:
budget_dataframe['Changes'].max()

1926159.0

In [45]:
budget_dataframe['Changes'].min()

-2196167.0

In [50]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {budget_dataframe['Date'].count()}")
print(f"Total: ${budget_dataframe['Profit/Losses'].sum()}")
print(f"Average Change: ${round(budget_dataframe['Changes'].mean(),2)}")
print(f"Greatest Increase in Profits:${budget_dataframe['Changes'].max()}")
print(f"Greatest Decrease in Profits:${budget_dataframe['Changes'].min()}")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits:$1926159.0
Greatest Decrease in Profits:$-2196167.0